<% content_for :title, "New book" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl text-gray-900 dark:text-gray-100">Add book</h1>

  <% if params[:v1].present? %>
    <% if manual_entry? %>
      <%= render "form", book: @book %>
    <% else %>
      <%= render partial: "book_search", locals: { return_to: params[:return_to] } %>
    <% end %>
  <% else %>
    <!-- Add from Audible -->
    <div class="mt-6 bg-gray-50 dark:bg-gray-800 p-6 rounded-lg shadow-md">
      <h2 class="text-lg font-semibold text-gray-900 dark:text-gray-100 flex items-center space-x-2">
        <%= heroicon "book-open", variant: :solid, options: { class: "w-6 h-6 text-blue-600" } %>
        <span>Add from Audible</span>
      </h2>
      <%= form_with url: books_path, method: :post, local: true, class: "mt-4", data: { controller: "clipboard" } do |form| %>
        <div class="flex items-center space-x-4">
          <%= form.hidden_field :audible_url, id: "audible_url_field", data: { clipboard_target: "field" } %>
          <button type="button" class="px-4 py-2 bg-blue-600 hover:bg-blue-500 text-white rounded-md shadow-sm font-medium flex items-center space-x-2" data-action="click->clipboard#paste">
            <%= heroicon "clipboard", variant: :solid, options: { class: "w-5 h-5" } %>
            <span>Click to add from copied audible link</span>
          </button>
        </div>
      <% end %>
    </div>
    <%= link_to "Add from search", new_book_path(v1: true, return_to: params[:return_to]), class: "w-full sm:w-auto text-center mt-2 sm:mt-0 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 inline-block font-medium text-gray-900 dark:text-gray-100" %>
    <%= link_to "Add manually", new_book_path(v1: true, manual: true, return_to: params[:return_to]), class: "w-full sm:w-auto text-center mt-2 sm:mt-0 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 inline-block font-medium text-gray-900 dark:text-gray-100" %>
  <% end %>

  <%= link_to "Back", return_to_or_path(books_path), class: "w-full sm:w-auto text-center mt-2 sm:mt-0 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 inline-block font-medium text-gray-900 dark:text-gray-100" %>
</div>
