<% content_for :title, "Add book" %>

<div class="md:w-2/3 w-full">
  <% if !native_app? %>
    <h1 class="font-bold text-4xl text-gray-900 dark:text-gray-100">Add book</h1>
  <% end %>

  <% if params[:v1].present? %>
    <% if manual_entry? %>
      <%= render "form", book: @book %>
    <% else %>
      <%= render partial: "book_search", locals: { return_to: params[:return_to] } %>
    <% end %>
  <% else %>
    <!-- Add from Audible -->
    <div class="mt-6 bg-gray-50 dark:bg-gray-800 p-6 rounded-lg shadow-md">
      <h2 class="text-lg font-semibold text-gray-900 dark:text-gray-100 flex items-center space-x-2">
        <%= heroicon "book-open", variant: :solid, options: { class: "w-6 h-6 text-blue-600" } %>
        <span>Add from Audible</span>
      </h2>
      <ol class="mt-4 space-y-4 text-sm text-gray-500 dark:text-gray-400 list-decimal list-inside">
        <li class="flex items-start space-x-2">
          <span>1. Open the book in Audible <i class="fa-brands fa-audible"></i></span>
        </li>
        <li class="flex items-start space-x-2">
          <span>2. Tap the <strong>Share <i class='fa-solid fa-arrow-up-from-bracket'/></i></strong> icon</span>
        </li>
        <li class="flex items-start space-x-2">
          <span>3. Tap <strong>Copy <i class='fa-regular fa-copy'/></i></strong> from the share menu</span>
        </li>
      </ol>
      <%= form_with url: books_path, method: :post, local: true, class: "mt-4", data: { controller: "clipboard" } do |form| %>
        <div class="flex items-center space-x-4">
          <%= form.text_field :audible_url, placeholder: "4. Paste Audible link here", class: "flex-1 px-4 py-2 border border-gray-300 dark:border-gray-700 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-900 dark:text-gray-100", data: { clipboard_target: "input" } %>
          <button data-turbo-submits-with="Saving..." type="submit" class="px-4 py-2 bg-blue-600 hover:bg-blue-500 text-white rounded-md shadow-sm font-medium flex items-center space-x-2">
            Go
          </button>
        </div>
      <% end %>
    </div>
    <%= link_to "Add from search", new_book_path(v1: true, return_to: params[:return_to]), class: "w-full sm:w-auto text-center mt-2 sm:mt-0 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 inline-block font-medium text-gray-900 dark:text-gray-100" %>
    <%= link_to "Add manually", new_book_path(v1: true, manual: true, return_to: params[:return_to]), class: "w-full sm:w-auto text-center mt-2 sm:mt-0 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 inline-block font-medium text-gray-900 dark:text-gray-100" %>
  <% end %>

  <% unless native_app? %>
    <%= link_to "Back", return_to_or_path(books_path), class: "w-full sm:w-auto text-center mt-2 sm:mt-0 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 inline-block font-medium text-gray-900 dark:text-gray-100" %>
  <% end %>
</div>
